<div class="header">
    <h3 class="text-muted">sample app</h3>
</div>

<div class="jumbotron">
    <h1>angular-stackmob sample-app</h1>
    <p class="lead">
        Built with
        <br>
        <img src="images/yeoman.png" alt="I'm Yeoman">
        <br>
    </p>
</div>

<div class="row marketing">
    <h3>Make Sure You:</h3>
    <h4>1. Set your public API key</h4>
    <p>
        <code>
            StackmobProvider.setApiKey('YOUR_API_KEY');
        </code>
    </p>

    <h4>2. Set your environment</h4>
    <p>
        <code>
            StackmobProvider.setEnvironment('0');
        </code>
    </p>

    <h4>3. Login</h4>
    <p>
        <form class="form-inline" role="form">
            <div class="form-group">
                <label class="sr-only" for="exampleInputEmail2">Email address</label>
                <input type="username" ng-model='user.username' class="form-control" id="exampleInputusername2" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label class="sr-only" for="exampleInputPassword2">Password</label>
                <input type="password" ng-model='user.password' class="form-control" id="exampleInputPassword2" placeholder="Password">
            </div>
            <button ng-click='login()' type="submit" class="btn btn-default">Sign in</button>
        </form>
        <br>
        loggedInUser = {{loggedInUser | json}}
        <br>
        <pre><code>
$scope.login = function() {
    Stackmob.login($scope.user.username, $scope.user.password)
        .then(function(data) {
            $scope.loggedInUser = data.stackmob.user;
            $scope.user = {};
        });
};</code></pre>
    </p>
    <h4>4. Fire away!</h4>
    <p>
        <pre>
            <code>
$scope.queryPersons = function() {
    // remember, Person is a glorified $resource object!
    var Person = Stackmob.schema('person');
    $scope.people = Person.query();
};
            </code>
        </pre>
        <div>Query against a collection of 'people'</div>
        <button ng-click='queryPeople()' class="btn btn-success">Query People</button>
        People = {{people | json}}
    </p>
    <h3>More Examples</h3>
    <div>
        <p>
            Query for a specific person, and update them.
        </p>
        <form class="form" role="form">
            <div class="form-group">
                <label class="sr-only" for="exampleInputEmail2">Age</label>
                <input type="number" ng-model='person.age' class="form-control" id="exampleInputemail2" placeholder="Person age">
            </div>
            <div class="form-group">
                <label class="sr-only" for="exampleInputname2">Name</label>
                <input type="name" ng-model='person.name' class="form-control" id="exampleInputname2" placeholder="Person name">
            </div>
            <button ng-click='getPersonByName()' ng-disabled='!person.name' type="submit" class="btn btn-default">Get Person By Name</button>
            <button ng-click='updatePerson()' ng-disabled='!person.age' type="submit" class="btn btn-default">Update</button>
        </form>
    </div>
    <div>
        <p>
            Create a new person.
        </p>
        <form class="form" role="form">
            <div class="form-group">
                <label class="sr-only" for="exampleInputEmail2">Email</label>
                <input type="number" ng-model='newPerson.age' class="form-control" id="exampleInputemail2" placeholder="Person age">
            </div>
            <div class="form-group">
                <label class="sr-only" for="exampleInputname2">Name</label>
                <input type="text" ng-model='newPerson.name' class="form-control" id="exampleInputname2" placeholder="Person name">
            </div>
            <button ng-click='createPerson()' ng-disabled='!newPerson.name' type="submit" class="btn btn-default">Create New Person</button>
        </form>
    </div>
    <div>
        <p>
            Delete Person.
        </p>
        <form class="form" role="form">
            <div class="form-group">
                <label class="sr-only" for="exampleInputEmail2">Age</label>
                <input type="number" disabled ng-model='deletedPerson.age' class="form-control" id="exampleInputemail2" placeholder="Person age">
            </div>
            <div class="form-group">
                <label class="sr-only" for="exampleInputtitle2">Name</label>
                <input type="text" ng-model='deletedPerson.name' class="form-control" id="exampleInputtitle2" placeholder="Person name">
            </div>
            <button ng-click='getPersonForDelete()' ng-disabled='!deletedPerson.name' type="submit" class="btn btn-default">Get Person By Name</button>
            <button ng-click='deleteEmployee()' ng-disabled='!deletedPerson.email' type="submit" class="btn btn-warning">Delete</button>
        </form>
    </div>
    <br>
    <div>
        <p>
            Deep save - add a new person to <code>children</code>.
        </p>
        <form class="form" role="form">
            <div class="form-group">
                <label class="sr-only" for="exampleInputEmail2">Age</label>
                <input type="number" ng-model='newChild.age' class="form-control" id="exampleInputemail2" placeholder="Person age">
            </div>
            <div class="form-group">
                <label class="sr-only" for="exampleInputtitle2">Name</label>
                <input type="text" ng-model='newChild.name' class="form-control" id="exampleInputtitle2" placeholder="Person name">
            </div>
            <div class="form-group">
                <label class="sr-only" for="exampleInputtitle2">Parent's Name</label>
                <input type="text" ng-model='personToAddTo.name' class="form-control" id="exampleInputtitle2" placeholder="Parent's name">
            </div>
            <button ng-click='addNewChild()' ng-disabled='!newChild.name' type="submit" class="btn btn-default">Add New Child</button>
        </form>
    </div>
</div>

<div class="footer">
    <p>&diams; Collin Forrester</p>
</div>
